/*///////////////// small-laptop /////////////////////////////*/

/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*///////////////// tablet /////////////////////////////*/
@media screen and (max-width: 1000px) {
    .right-menu-tablet-container{
        display: unset;
    }
    .nav-bar, .right-menu-laptop-container{
        display: none;
    }
    .left-home-header{
        width: 18rem;
    }
    .right-home-header{
    width: 10rem;
    padding-right: 2rem;
    }
    #star-guardian-section{
        justify-content: center;
    }
}
/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/