/*///////////////// medium-laptop ///////////////////////////////////////////*/
@media screen and (max-width: 1280px){
    #what-happening-section, #our-games-section{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .flex-events-container{flex-direction: column;}
    .events-hero{
        width: 92vw;
        height: 45vw;
    }
    .hero-details{top: 84%;}
    .flex-events-article{
        display: grid;
        grid-template-columns: 1fr 1fr
    }
    .article{height: 13rem;}
    .article-wrapper{
        justify-content: flex-start;
        align-items: flex-end;
    }
    .article-details{flex: unset;}
    .article-photo{
        flex: unset;
        display: none;
    }
}




/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////// small-laptop ///////////////////////////////////////////*/




@media screen and (max-width: 1000px){
    .right-menu-tablet-container{display: unset;}
    .nav-bar, .right-menu-laptop-container{display: none;}
    .left-home-header{width: 18rem;}
    .right-home-header{
        width: 13rem;
        padding-right: 2rem;
    }
    #star-guardian-section{justify-content: center;}
    .hero-details{top: 76%;}
    .grid-main-games{grid-template-columns: repeat(auto-fit, minmax(35.5rem, 1fr));}
}




/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////// tablet ///////////////////////////////////////////////*/




@media screen and (max-width: 822px){
    #what-happening-section{padding-bottom: 8rem;}
    .what-happening-title, .our-games-title{justify-content: center;}
    .see-more-small{
        display: none;
        height: 4rem;
    }
    .flex-events-container{align-items: center;}
    .flex-events-article{
        display: grid;
        grid-template-columns: 1fr;
    }
    .article{width: 85vw;}
    .article-wrapper{
        justify-content: space-between;
        align-items: center;
    }
    .article-details{flex: 1 1 60%;}
    .article-photo{
        display: inherit;
        flex: 1 1 40%;
    }
    .see-more-small-mobile{
        display: block;
        border: none;
        margin-top: 2rem;
        height: 5rem;
    }
    .main-game-content .one-device{width: 2.5rem;}
    .main-game-content .two-devices{width: 3.4rem;}
    .main-game-content .three-devices{width: 5.1rem;}
    .main-game-content .four-devices{width: 6.8rem;}
    .main-game-content .play-devices{height: 2.5rem;}
    .main-game-content i{font-size: 0.9rem;}



    #we-are-hiring-section{
        flex-direction: column;
    }
    .monster-photo{
        aspect-ratio: 1 / 0.8;
        width: 100vw;
    }
    .flex-we-are-hiring{
        height: 50rem;
        width: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .flex-we-are-hiring > h1{font-size: 3rem;}
    .flex-we-are-hiring > p{width: 60rem;}
    .flex-riot-info{
        gap: 1rem;
        width: 95%;
    }
    .flex-riot-info > a{flex: 1 1 50%;}
    .flex-riot-info .card{
        height: 12rem;
        padding: 1rem;
    }
    .flex-riot-info p{font-size: 1.5rem;}
    .explore-careers{width: 85vw;}    
}




/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////// mobile ///////////////////////////////////////////////*/




@media screen and (max-width: 560px){
    #what-happening-section, #our-games-section{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .what-happening-title > h1{font-size: 3rem;}
    .hero-details{top: 50%;}
    .hero-details > p{
        font-size: 1.4rem;
        line-height: normal;
    }
    .grid-main-games{grid-template-columns: 1fr;}
    .grid-second-games{grid-template-columns: 1fr;}
    .main-game-content > p{display: none;}
}




/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////// small-mobile /////////////////////////////////////////*/




@media screen and (max-width: 420px){}




/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/

