/*/////////////   home-global   ////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
:root{
    --fontFamily: 'Poppins', sans-serif;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;
    --myBlack: rgb(16, 15, 15);
    --myWhite: #f9f9f9;
    --myDarkWhite: rgb(238, 235, 235);
    --myDarkGray: #252423;
    --myGray: rgb(78, 76, 76);
    --myLightGray: rgba(173,172,170,.2);
    --myBlue: #0bc4e2; /*#2c8cc2;*/
    --myRed: rgb(209, 54, 57);
    --headerFontSize: 1.4rem;
    --headerHeight: 8rem;
    --menuFistSize: 3.5rem;
    --fistSize: 2rem;
    --fistPadding: 0.5rem;
    --fistRadius: 100%;
}
*{
    font-family: var(--fontFamily);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    scroll-behavior: smooth;
    max-width: 100%;
}
html{font-size: 62.5%;}/* 1rem = 10px */
body, header, main, section, footer {
    width: 100vw;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--myWhite);
}
i{color: var(--myWhite);}/* ??? */
.bg-white{background-color: var(--myWhite);}
.co-black{color: var(--myBlack);}
.fist-container{
    padding: var(--fistPadding);
    border-radius: var(--fistRadius);
    height: 2.8rem;
    z-index: 5;
} 
.fist-hand-icon{font-size: var(--fistSize);}




/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////  home-header  ////////////////////////////////////////////*/




.home-header{
    position: fixed;
    height: var(--headerHeight);
    background-color: transparent;
    transition: background-color 0.2s ease;
    z-index: 10;
    overflow: visible;
}
.scroll-down{background-color: var(--myBlack);}
.home-header, .home-header > *, .home-header > * > *, .nav-bar button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-header p, .home-header button{
    color:var(--myBlack);
    font-size: var(--headerFontSize);
    font-weight: var(--medium);
} 
.left-home-header{
    width: 60rem;
    padding-left: 1rem;
}
.right-home-header{
    position: relative;
    width: 38rem;
    padding-right: 4rem;
}
.home-header > * > *{position: relative;}
.left-menu-container{
    width: 12rem;
    justify-content: flex-start;
    gap: 0.5rem;
}
.left-menu-container:hover #riot-games > p, .left-menu-container:hover i{
    cursor: pointer;
    color: var(--myRed);
}
i#left-menu-fist-icon{
    font-size: var(--menuFistSize);
    padding-left: 1rem;
}
#riot-games > p{font-weight: var(--bold);}
.home-header .fist-container{
    padding-left: 0.8rem;
    height: 3.8rem;
    width: 3.8rem;
} 
.home-header .fist-hand-icon{font-size: 2.5rem;}
.home-header p{
    color:var(--myWhite);
    line-height: 1.4rem;
    text-align: start;
}
.nav-bar{width: 40rem;}
.nav-bar .dropdown-space{
    position: absolute;
    height: 2rem;
    width: 14rem;
}
.nav-bar .dropdown-space{cursor: pointer;}
.nav-bar button, .dropdown > a{
    padding: 7px 1rem;
    border-radius: 10px;
    background-color: transparent;
    border: none;
}
.nav-bar button:hover, .dropdown > a:hover{
    background-color: var(--myGray);
    cursor: pointer;
}
.news{width: 6.5rem;}
.nav-bar p{
    letter-spacing: 1px;
    padding-right: 1rem;
}
.nav-bar .dropdown, .right-home-header .dropdown{
    position: absolute;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
    transition: opacity 0.1s;
}
.nav-bar .dropdown{
    width: 20rem;
    gap: 0.5rem;
    top: 4.5rem;
    border-top: solid red 0.3rem;
    background-color: var(--myDarkGray);
    border-radius: 1rem;
    padding: 2rem 3rem;
    cursor: pointer;
}
.nav-bar .drop1{left: 0;}
.nav-bar .drop2{left: 16rem;}
.nav-bar .drop3{
    left: 33.5rem;
    padding: 0;
    width: 6.5rem !important;
}
.dropdown > a{
    font-weight: var(--medium);
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: start;
    flex: 1 0 3rem;
    display: flex;
    align-items: center;
}
.network-icon-container, .right-menu-tablet-container{
    border-radius: 20%;
    width: 4.2rem;
    height: 4.2rem;
    border: none;
    background-color: transparent;
}
.right-menu-tablet-container{background-color: var(--myLightGray);}
.network-icon-container:hover, .right-menu-tablet-container:hover{
    background-color: var(--myGray);
    cursor: pointer;
}
.right-home-header .dropdown-space{
    position: absolute;
    top: 4rem;
    height: 2.5rem;
    width: 1rem;
}
.right-home-header .dropdown{
    overflow-y: scroll;
    overflow-x: visible;
    top: 6.1rem;
    left: -9rem;
    width: 22rem;
    height: 35rem;
    background-color: var(--myWhite);
    padding: 1rem 1rem 1rem 3rem;
    gap: 1.5rem;
}
.lang-container{
    position: relative;
    top: 23rem;
    width: 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lang-container:last-child{padding: 0.2rem 0;}
.lang{
    color: var(--myGray);
    font-weight: var(--medium);
    font-size: 1.3rem;
}
.lang:hover{
    color: var(--myBlack);
    cursor: pointer;
}
.check-icon{
    display: none;
    font-size: 1.6rem;
    color: var(--myRed);
}
.network-icon, .bars-icon{
    vertical-align: baseline;
    font-size: 2.2rem;
}
.bars-icon{padding-top: 0.2rem;}
.home-header form, .sign-in{
    padding: 5px 2rem;
    border-radius: 20px;
}
.home-header form{border: solid var(--myWhite) 0.1px;}
.sign-in{
    border: thin black;
    background-color: var(--myRed);
    padding: 6px 2rem;
    border-radius: 20px;
    letter-spacing: 1px;
}
.sign-in:hover{
    background-color: var(--myBlue);
    cursor: pointer;
}
.right-menu-tablet-container{
    border-radius: 20%;
    padding: 8px;
    display: none;
}




/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*//////////////mobile-nav-bar////////////////////////////////////////////*/




.mobile-nav-bar, .cookie-nav-bar{
    position: fixed;
    z-index: 20;
    height: 100vh;
    right: -47rem;
    transition: right 0.2s ease-in 0.1s;
}
.mobile-nav-bar{
    background-color: var(--myDarkGray);
    width: 45rem;
}
.flex-mobile-nav-bar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 3rem;
    padding: 2rem;
}
.flex-mobile-nav-bar > *{width: 100%;}
.nav-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
.nav-bar-header > .fist-container{
    height: 100%;
    width: 4rem;
}
.nav-bar-header > a > .fist-hand-icon{font-size: 3rem;}
.close-menu-tablet-container{
    background-color: var(--myGray);
    border-radius: 20%;
    padding: 9px 9px 6px 9px;
    height: 100%;
    width: 4rem;
}
.close-menu-tablet-container:hover{cursor: pointer;}
.xmark-icon{
    vertical-align: baseline;
    font-size: 2rem;
}
.nav-bar-links{
    min-height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1rem;
}
.nav-bar-links .dropdown-container{width: 100%;}
.nav-bar-links .dropdown-container > a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
}
.nav-bar-links a:hover{
    background-color: var(--myGray);
    cursor: pointer;
}
.nav-bar-links a > p{
    font-weight: var(--bold);
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.nav-bar-links .caret-down-icon{font-size: 2rem;}
.nav-bar-links .dropdown{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    row-gap: 0.6rem;
}
.nav-bar-links .dropdown > a{
    font-size: 1.3rem;
    padding: 1.2rem 1rem;
}
/* .mobile-nav-bar form{} */
.mobile-nav-bar .sign-in{
    width: 100%;
    font-weight: var(--bold);
}




/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////  flex-menu  ////////////////////////////////////////////////*/




.flex-menu{display: none;}




/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////  cookie-nav-bar  /////////////////////////////////////////*/



.cookie-nav-bar, .storage-preferences, .preference, .fixed-preference, .view-cookies-container, .cookie-info, .cookie-info-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cookie-nav-bar{
    background-color: var(--myWhite);
    width: 32.5rem;
    flex-direction: column;
}
.storage-preferences{
    width: 100%;
    padding: 1rem 1rem;
    box-shadow: 0 -10px 10px 10px rgba(0, 0, 0, 0.3);
}
.cookie-settings{overflow-y: scroll;}
.xmark-container{
    background-color: var(--myBlack);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.xmark-container:hover, .preference, .view-cookies:hover, .cookie-save-button:hover{cursor: pointer;}
.xmark-container > .x-mark-icon{font-size: 2.5rem}
.cookie-nav-bar p, .cookie-nav-bar h2{text-align: start;}
.cookie-nav-bar h1, .cookie-nav-bar h2{font-weight: var(--medium);}
.cookie-nav-bar p, .cookie-info *{font-size: 1.2rem;}
.cookie-block > *{padding: 0 1rem;}
.view-cookies-container{
    width: 100%;
    padding: 1rem 0rem;
}
.preference, .fixed-preference{
    width: 100%;
    padding: 1rem;
}
.cookie-break{
    display: block;
    width: 32.5rem;
    padding-top: 0.5px;
    background-color: var(--myGray);
}
.view-cookies-container{flex-direction: column;}
.view-cookies{
    font-weight: var(--bold);
    color: var(--myGray);
    font-size: 1.2rem;
    width: 100%;
    text-align: start;
    padding: 0.5rem 1rem 0 1rem;
    flex-basis: 3rem;
}
.cookie-info{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--myLightGray);
    width: 100%;
    padding: 1rem;
}
.cookie-info-block{
    flex-basis: 11rem;
    flex-direction: column;
}
.cookie-pair-value{
    display: flex;
    align-items: flex-start;
    width: 32rem;
}
.cookie-property, .cookie-value{text-align: start;}
.cookie-property{
    flex-basis: 30%;
    font-weight: var(--bold);
}
.cookie-value{
    flex-basis: 70%;
    font-size: 1.2rem;
}
.cookie-save-button{
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 6rem;
    padding: 0.5rem 0;
    background-color: var(--myLightGray);
    border: solid 0.2px;
    border-radius: 3px;
    font-weight: var(--bold);
}
.cookie-save-button:hover, .cookie-save-button:focus{background-color: gainsboro;}




/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*///////////////  home-main  //////////////////////////////////////////*/




.home-main{background-color: var(--myDarkGray);}
.card{
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    padding: 2.2rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.card:hover{
    border: solid var(--myWhite) 0.5px;
}
.card, .card *{
    position: relative;
    text-align: start;
    z-index: 1;
}
#article-img-1{background-image: url("/images/riot-games-data-purge-deleting-old-accounts.png");}
#article-img-2{background-image: url("/images/riotgames-sola-technology-center-grand-opening-1.png");}
#article-img-3{background-image: url("/images/00-d-i-report-original-english.png");}
#article-img-4{background-image: url("/images/rg-rainbowrioters-maria-pentinen.png");}
#what-happening-section, #our-games-section{
    padding-top: 5rem;
    padding-bottom: 10rem;
    padding-left: 8rem;
    padding-right: 8rem;
}
.what-happening-title, .our-games-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18rem;
}
.league-of-legends{background-image: url("/images/lol-card-bg-1800.jpg");}
.league-of-legends-logo{background-image: url("/images/lol-logotype.png");}
.valorant{background-image: url("/images/val-card-bg-1800-08-22.png");}
.valorent-logo{background-image: url("/images/valorant-logotype.png");}
.teamfight-tactics{background-image: url("/images/tft-card-bg-1800.jpg");}
.teamfight-tactics-logo{background-image: url("/images/tft-logotype-2021.png");}
.league-of-legends-wr{background-image: url("/images/lol-wildrift-productimage.png");}
.league-of-legends-wr-logo{background-image: url("/images/lol-wildrift-logotype.png");}
.legends-of-runeterra{background-image: url("/images/legends-of-runeterra-productimage.png");}
.legends-of-runeterra-logo{background-image: url("/images/legends-of-runeterra-logotype.png");}
.ruined-king{background-image: url("/images/ruined-king-productimage.png");}
.ruined-king-logo{background-image: url("/images/ruined-king-logotype.png");}
.hextech-mayhem{background-image: url("/images/hextetch-mayhem-card-bg-1800.jpg");}
.hextech-mayhem-logo{background-image: url("/images/hextech-mayhem-logotype.png");}
.convirgence{background-image: url("/images/convrgence-productimage.png");}
.convirgence-logo{background-image: url("/images/convrgence-logotype.png");}
.song-of-nunu{background-image: url("/images/song-of-nunu-card-bg-1800.jpg");}
.song-of-nunu-logo{background-image: url("/images/songofnunu-logotype.png");}




/*------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/*---------- star-guardian-section ----------------------------------------*/




#star-guardian-section{
    height: 61rem;
    background-image: url("/images/main-photo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: start;
    padding: 6rem;
}
#star-guardian-section *{
    color: var(--myWhite);
    font-weight: var(--bold);
}
.star-guardian-content{
    width: 52rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 6rem;
}
.star-guardian-content > img{width: 36rem;}
.star-guardian-content > p{
    font-size: 2.8rem;
    line-height: 2.7rem;
}
.star-guardian-content > a{position: relative;}
.see-more{
    background-color: var(--myBlue);
    width: 23rem;
    height: 7rem;
    border: none;
    border-radius: 2rem;
    font-size: 2.6rem;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.see-more:hover{
    cursor: pointer;
    box-shadow: 0px 6px 15px 0px var(--myBlue);
}
.right-arrow-icon{
    font-size: 4rem;
    position: relative;
    top: 0.7rem;
    left: -1.4rem;
}




/*------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------*/
/*---------- what-happening-section --------------------------------------*/




#what-happening-section{
    background: radial-gradient(55% 180% at 5% 100%,rgb(25, 59, 94) 0,rgba(10,10,10,0) 75%,black 100%);
    padding-top: 3rem;
}
.what-happening-title > h1{
    color: var(--myWhite);
    font-size: 4.4rem;
    letter-spacing: 1px;
}
.see-more-small, .see-more-small-mobile{
    background-color: var(--myDarkGray);
    color: var(--myWhite);
    font-weight: var(--bold);
    letter-spacing: 1px;
    width: 11rem;
    height: 3.5rem;
    border-radius: 1rem;
}
.see-more-small:hover, .see-more-small-mobile:hover{
    cursor: pointer;
    background-color: var(--myGray);
}
.flex-events-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.2rem;
}
.flex-events-container .fist-container{
    position: absolute;
    z-index: 5;
    width: 3.1rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
}
.bg-black{background-color: black;}
.events-hero-link{flex: 1 1 60%;}
.events-hero-link:hover{cursor: pointer;}
.events-hero{
    height: 26vw;
    background-image: url("/images/hasan-colakoglu.png");
    position: relative;
}
.hero-details{
    position: relative;
    top: 68%;
}
.hero-details > p{
    font-size: 2.8rem;
    line-height: 2.7rem;
    font-weight: var(--bold);
}
.events-category{
    color: var(--myGray);
    font-weight: var(--bold);
    letter-spacing: 1px;
    font-size: 1.5rem;
    padding-top: 0.5rem;
}
.flex-events-article{
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}
.article{
    padding: unset;
    height: 11.6rem;
    background-color: var(--myDarkGray);
}
.article:hover{
    background-color: var(--myGray);
    cursor: pointer;
}
.article > .fist-container{
    right: 1rem;
    top: 1rem;
}
.article-wrapper{
    height: 100%;
    display: flex;
}
.article-details{
    padding: 2.2rem 0.5rem 2.2rem 2.2rem;
    flex: 1 1 60%;
}
.article-photo{
    background-color: gray;
    flex: 1 1 40%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 1rem 1rem 0;
}
.article-details > p{
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: var(--bold);
    width: 97%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.see-more-small-mobile{display: none;}




/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*---------- our-games-section -------------------------------------------*/




#our-games-section{
    padding-top: 2rem;
    padding-bottom: 12rem;
}
.our-games-title > h1{
    color: var(--myWhite);
    font-size: 3rem;
    letter-spacing: 1px;
}
.flex-games{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.grid-main-games, .grid-second-games{
    display: grid;
    gap: 2rem 1rem;
}
.grid-main-games{grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));}
.grid-second-games{grid-template-columns: repeat(auto-fit, minmax(35.5rem, 1fr));}
.flex-games .card{
    aspect-ratio: 1 / 0.45;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-game-content, .second-game-content{
    flex: 0 0 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-game-content{
    justify-content: space-around;
    row-gap: 1rem;
}
.second-game-content{
    justify-content: center;
    row-gap: 20%;
}
.game-logo{
    aspect-ratio: 1 / 1.2;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.main-game-content > p{
    font-size: 1rem;
    font-weight: var(--bold);
    color: rgb(184, 183, 183);
    text-align: center;
}
.play-devices{
    background-color: var(--myLightGray);
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0.5rem;
}
.main-game-content .one-device{width: 2.5rem;}
.main-game-content .two-devices{width: 5rem;}
.main-game-content .three-devices{width: 7.5rem;}
.main-game-content .four-devices{width: 10rem;}
.main-game-content .play-devices{height: 3.5rem;}

.second-game-content .one-device{width: 2.5rem;}
.second-game-content .two-devices{width: 3.4rem;}
.second-game-content .three-devices{width: 5.1rem;}
.second-game-content .four-devices{width: 6.8rem;}
.second-game-content .play-devices{height: 2.5rem;}

.main-game-content i{font-size: 1.3rem;}
.second-game-content i{font-size: 0.9rem;}
/* .second-game:last-child {
    justify-self: center;
    width: calc(100% / 3 - 1rem);
    grid-column-start: span 3;
} */




/*--------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*---------- we-are-hiring-section ----------------------------------*/




#we-are-hiring-section{
    min-height: 55rem;
    display: flex;
}
.monster-photo{
    width: 50vw;
    background-image: url("/images/annie.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.flex-we-are-hiring{
    width: 50vw;
    background-color: var(--myDarkWhite);
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flex-we-are-hiring > h1{font-size: 4.5rem;}
.flex-we-are-hiring > p{
    color: var(--myGray);
    width: 60rem;
    font-size: 1.8rem;
    font-weight: var(--medium);
    line-height: 2.5rem;
}
.flex-riot-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 88%;
}
.flex-riot-info > a{flex: 1 1 50%;}
.flex-riot-info .card{
    height: 17rem;
    background-color: var(--myLightGray);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}
.flex-riot-info h1{
    text-align: center;
    color: var(--myBlack);
    font-size: 4.8rem;
}
.flex-riot-info p{
    text-align: center;
    color: var(--myGray);
    font-weight: var(--bold);
    letter-spacing: 1px;
    font-size: 2.5rem;
}
.explore-careers{
    color: var(--myWhite);
    width: 29rem;
    height: 6.5rem;
    background-color: var(--myRed);
    border: none;
    border-radius: 2.5rem;
    font-size: 2rem;
    font-weight: var(--bold);
    letter-spacing: 1px;
}
.explore-careers:hover{cursor: pointer;}




/*----------------------------------------------------------------------*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////*/
/*/////////////   home-footer   ////////////////////////////////////////////*/




.home-footer{
    background-color: var(--myDarkGray);
    padding: 0rem 2rem;
}
.home-footer *{
    color: var(--myGray);
    letter-spacing: 1px;
}
.footer-row1, .footer-row2, .home-footer > * > *, .all-rights{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-row1, .footer-row2{
    column-gap: 4rem;
    padding: 4rem 0;
}
.footer-row1 *{font-size: 1.2rem;}
.footer-fist > a > .fist-hand-icon{font-size: 4rem;}
.footer-fist > a > .fist-hand-icon:hover{
    cursor: pointer;
    color: var(--myRed);
}
.footer-links{
    gap: 1.5rem 4rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.footer-links > a{
    font-size: 1.2rem;
    font-weight: var(--bold);
}
.footer-links > a:hover{
    text-decoration: underline;
    color: var(--myWhite);
}
.social-media{width: 20rem;}
.social-media > a > i{
    column-gap: 4rem;
    font-size: 2rem;
}
.social-media > a > i:hover{
    cursor: pointer;
    color: var(--myRed);
}
.laptop-break, .mobile-break{
    padding: unset;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--myGray);
    height: 0.2rem;
}
.footer-row2 *{font-size: 1.2rem;}
.cookie:hover{
    text-decoration: underline;
    color: var(--myWhite);
    cursor: pointer;
}
.pipe{
    height: 2rem;
    width: 1.5px;
    background-color: var(--myGray);
    margin: 0 1rem;
}
.mobile-break{
    display: none;
    width: 100%;
}
.to-the-surface{font-size: 1.5rem;}
.to-the-surface:hover {color: var(--myWhite);}
.to-the-surface:hover i{color: var(--myRed);}
.to-the-surface > i{
    padding-left: 1rem;
    font-size: 1.5rem;
}




/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////*/
